*{
    margin: 0px;
    padding: 0px;

}
.cabeza{
    display: flex;
    background-color: rgb(198, 195, 169);
    width: 100%;
    background:url(/img/f_h.jpg) center ;
    background-size:contain;
}
.foto1{
    display: flex;
    width: 800px;
    height: 700px;
    border-radius: 25px;
}
.info_h{
    padding-left: 40px;
    padding-right: 30px;
    margin-left: 360px;
    margin-top: 150px;
    color: rgb(0, 0, 0);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 60px;
    border: 7px solid rgb(43, 44, 48);
    height: 300px;
    backdrop-filter: blur(15px);
}
.info_lat{
    display:flex;
    /* width: 1100px; */
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    justify-content: space-around;
    
}
.perfil{
    width: 600px;
    height: 250px;
    background-color: darkblue;
    margin-left: 60px;
    border-radius: 30px;
    margin-top: 30px;
    background-image: url(/img/fondo_per2.jpg);
    background-size: cover;
}
.info_per{
    margin-left: 20px;
    margin-top: 20px;
    color: #2C221E;

}
.person_1{
    color: #58181F;
}
.exp{
    padding-top: 20px;
    
}
.card_1{
    display: flex;
}
.fil1{
    width: 300px;
    display: flex;

}
.redes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #4a4a4a, #000000);

}
.lista{
    display: flex;
    list-style: none;
    gap:400px;
    font-size:40px;
    color: white;
}

.fa-instagram{
    
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);

}
.fa-whatsapp{
   
  background-color: #25D366;
  color: #FFFFFF;

}
.fa-phone{

  background: linear-gradient(180deg, #34C759 0%, #28A745 100%);
  color: #ffffff;
}
body{
    background-image: url(https://img.magnific.com/vector-premium/fondo-pared-ladrillo-textura-iluminada-luz-neon-oscura_91645-71.jpg?semt=ais_test_b&w=740&q=80) ;
    background-size: contain;
}

